<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authors in Archive</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;500;600;700;800&display=swap');
  </style>
</head>

<body>
  <header class="flx container gap-3">
    <h1 class="mb ml">Book Archive</h1>
    <img src="./static/resources/images/3563210.png" alt="small, vector graphic of books on a shelf" id="bookshelf-img">
  </header>
  <main class="flx gap-3">
    <div class="card sm-card row">
      <h2 class="mb mt">New Author</h2>
      
      <form action="/add/author" method="post" class="flx col">
        <label for="">
          <span>Name</span>
          <input type="text" name="name" id="name" placeholder="author's name..." value="">
        </label>
        
        <label for="">
          <span>Length</span>
          <input type="number" name="book_length" id="pages" placeholder="how many pages...">
        </label>

        <div class="flx row gap-3 mt vert-cent">
          <button type="submit" class="btn w-100 mt">
            Add Author
          </button>
          
        </div>
      </form>

    </div>
    <div class="card sm-card row">
      <h2 class="mb mt">Authors in Archive</h2>
      <table class="font-mono">
        <thead>
          <tr>
            <th>Authors</th>
          </tr>
        </thead>
        <tbody>
          {% for each_author in all_authors %}
          <tr>
            <td>{{ authors.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </main>
  <footer>
    <div class="flx col vert-cent gap-2">
      <span>
        <a href="/books">Books in Archive</a>
      </span>
      <img src="./static/resources/images/3563199.png" alt="small, vector graphic of an open book" id="book-img">
    </div>
  </footer>
</body>
</html>