<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Archive</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;500;600;700;800&display=swap');
  </style>
</head>

<!--! TO DOS: ADD CREATE AND READ FUNCTIONALITY TO AUTHORS BUILD HTML VIEWS OF ONE AUTHOR AND FAVS AND ONE BOOK AND WHO HAS FAV'D IT THEN BUILD MANY TO MANY RELATIONSHIP WITH FAVORITES; LOOK INTO BETTER STYLE OPTIONS FOR 'OVERFLOW: SCROLL' AND TABLES IN GENERAL -->

<body>
  <header class="flx container gap-3">
    <h1 class="mb ml">Book Archive</h1>
    <img src="./static/resources/images/3563210.png" alt="small, vector graphic of books on a shelf" id="bookshelf-img">
  </header>
  <main class="flx gap-3">
    <div class="card sm-card row">
      <h2 class="mb mt">New Book</h2>
      <img src="./static/resources/images/3563199.png" alt="" id="book-img" class="mb">

      <form action="/add/book" method="post" class="flx col">
        <label for="title">
          <span>Title</span>
          <input type="text" name="title" id="title" placeholder="new book title...">
        </label>
        <label for="pages">
          <span>Length</span>
          <input type="number" name="pages" id="pages" placeholder="how many pages..." value="pages">
        </label>
        <div class="flx col gap-3 mt vert-cent">
          <button type="submit" class="btn w-100 mt mb">Add Title</button>
        </div>
      </form>
      
    </div>
    <div class="card sm-card">
      <h2 class="mb mt">Archived</h2>
      
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          {% for book in book_list %}
          <tr>
            <td>{{ book.id }}</td>
            <td class="title">{{ book.title }}</td>
          </tr>
          {% endfor %}
          <tr></tr>
          <tr></tr>
          <tr></tr>
        </tbody>
      </table>

    </div>
  </main>
  
  <footer>
    <div class="flx col vert-cent gap-2">
      <span>
        <a href="/authors">Authors in Archive</a>
      </span>
    </div>
  </footer>

</body>
</html>