<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authors</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;500;600;700;800&display=swap');
  </style>
</head>


  <!-- !    TO DO: IMPLEMENT SKINNY CONTROLLER IN favorites.py
  <!-- !    TO DO: IN MODELS IMPLEMENT GET ONE BOOK WITH AUTHORS WHO HAVE NOT FAVED IT AND GET ALL AUTHORS WHO HAVE NOT YET FAVED THIS BOOK -->
  <!-- !    TO DO: FIX IMG LOADING ON VIEW ONE PAGES-->
  <!-- !    TO DO: ADD IMG ALTS FOR ACCESSIBILITY -->
  <!-- !    TO DO: HTML VALIDATION -->

  <!-- *    completed: applied restful routing -->
  <!-- *    completed: added create functionality -->
  <!-- *    completed: view ones rendering -->
  <!-- *    completed: many-to-many/ favoriting functionality achieved -->

  
<body>

  <!-- ? HEADER START -->

  <header class="flx container gap-3 space-between">
    <h1 class="mb ml">Author's Favorite Books</h1>
    <!-- <img src="./static/resources/images/3563199.png" alt="small, vector graphic of an open book" class="book-img-sm"> -->
    <!-- <img src="./static/resources/images/3563210.png" alt="small, vector graphic of books on a shelf" class="bookshelf-img"> -->
    <!-- <nav>
      <span>Books</span>
      <img class="bookshelf-img" src="./static/resources/images/bookshelf-icon.png" alt="">
      <span>| Authors</span>
      <img class="author-img-sm" src="./static/resources/images/author-icon.png" alt="">
      <span>| Home</span>
    </nav> -->
  </header>
  <!-- ? HEADER END -->



  <!-- ? MAIN START -->

  <main class="flx gap-3">
    <div class="card sm-card row">
      <h2 class="mb mt">Add new author</h2>
      <img src="./static/resources/images/author-icon.png" alt="vector graphic icon of author" class="mb author-img">
      


      <!-- ? FORM TO ADD AUTHOR START -->

      <form action="/author/create" method="post" class="flx col">
        <label for="name">
          <span>Name</span>
          <input type="text" name="name" id="name" placeholder="author's name..." value="">
        </label>
        <div class="flx row gap-3 mt vert-cent">
          <button type="submit" class="btn w-100 mt">
            Add Author
          </button>
        </div>
      </form>
      <!-- ? FORM END -->

    </div>
    <div class="card sm-card row">
      <h2 class="mb mt">Authors</h2>
      


      <!-- ? TABLE OF AUTHORS START -->

      <table class="font-mono">
        <tbody>
          {% for this_author in all_authors %}
            <tr>
              <td>
                <a href="/author/{{ this_author.id }}">
                  {{ this_author.name }}
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- ? TABLE END -->
    
    </div>
  </main>
  <!-- ? MAIN END -->



  <!-- ? FOOTER START -->

  <footer>
    <div class="flx col vert-cent gap-2">
      <span>
        <a href="/books">Books</a>
      </span>
      <img src="./static/resources/images/3563199.png" alt="small, vector graphic of an open book" class="book-img">
    </div>
  </footer>
  <!-- ? FOOTER END -->

</body>
</html>