<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this_book.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;500;600;700;800&display=swap');
    </style>
</head>
<body>

    <!-- ? HEADER START -->

    <header class="flx container gap-3">
        <h1 class="mb ml">Books</h1>
        <!-- <img src="./static/resources/images/3563210.png" alt="small, vector graphic of books on a shelf" class="bookshelf-img"> -->
    </header>
    <!-- ? HEADER END -->



    <!-- ? MAIN START -->

    <main class="flx gap-3">
        <div class="card sm-card row">
            <p>
                Book title: 
            </p>
            <h2 class="title">"{{ this_book.title }}"</h2>
            <img src="./static/resources/images/3563199.png" alt="" id="this_book-img" class="mb">
            <p>
                Number of pages: 
            </p>
            <h2 class="mb">
                {{ this_book.pages }}
            </h2>
            <p>Authors who have favorited this title:</p>



            <!-- ? TABLE OF AUTHORS WHO FAVED START -->

            <table class="font-mono">
                <thead>
                    <tr>
                        <th class="hidden">ID</th>
                        <th class="hidden">Author's name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for faving_author in this_book.faved_by %}
                        <tr>
                            <td class="hidden">
                                {{ faving_author.id }}
                            </td>
                            <td>
                                <a href="/author/{{ faving_author.id }}">
                                    {{ faving_author.name }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- ? TABLE END -->

        </div>




        <!-- ? RIGHT SIDE -->

        <div class="card sm-card">
            <p class="mt-36 mb">
                Add<span class="title"> "{{ this_book.title }}"  </span> to an author's favorites:
            </p>
            


            <!-- ? FORM DROPDOWN START -->

            <!-- Form's hidden input allows controller method to pass needed ids thru 'favorites' controller using request.form OR you can use a route variable for this. if going the request.form way, watch variables in name in tag, must appear in controller like request.for['author'] -->

            <form action="/book/add/favorite" method="post">
                <input type="hidden" name="book" value="{{ this_book.id }}">
                <label for="author"></label>
                <select name="author" id="">
                    {% for faving_author in all_authors %}
                        
                        <option value="{{ faving_author.id }}">
                            {{ faving_author.name }}
                        </option>
                    {% endfor %}
                </select>
                <div class="flx col gap-3 mt vert-cent">
                    <button type="submit" class="btn w-100 mt mb">Add author who faves</button>
                </div>
            </form>
        <!-- ? FORM END -->

        </div>
    </main>
    <!-- ? MAIN END -->



    <!-- ? FOOTER START -->

    <footer>
        <div class="flx col vert-cent gap-2">
        <span>
            <a href="/">Home</a>
        </span>
        </div>
    </footer>
    <!-- ? FOOTER END -->

</body>
</html>