<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this_author.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;500;600;700;800&display=swap');
    </style>
</head>
<body>

    <!-- ? HEADER START -->

    <header class="flx container gap-3">
        <h1 class="mb ml">Books</h1>
        <!-- <img src="./static/resources/images/3563210.png" alt="small, vector graphic of books on a shelf" class="bookshelf-img"> -->
    </header>
    <!-- ? HEADER END -->



    <!-- ? MAIN START -->

    <main class="flx gap-3">
        <div class="card sm-card row">
            <p>
                Author:
            </p>
            <h2 class="mb">{{ this_author.name }}</h2>
            <!-- <img src="./static/resources/images/3563199.png" alt="" class="mb book-img"> -->
            <p>Their favorite books:</p>



        <!-- ? TABLE OF AUTHOR FAVES START -->

        <table class="font-mono">
            <thead>
                <tr>
                    <th class="hidden">ID</th>
                    <th class="hidden">Title</th>
                    <th class="hidden">Number of Pages</th>
                </tr>
            </thead>
            <tbody>
            {% for book in this_author.favorite_books %}
                <tr>
                    <td class="hidden">{{ book.id }}</td>
                    <td class="title">
                        <a href="/book/{{ book.id }}">
                            <span class="title">
                                "{{ book.title }}"
                            </span>
                        </a>
                    </td>
                    <td class="hidden">{{ book.pages }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <!-- ? TABLE END -->
        
        </div>
        




        <!-- ? RIGHT SIDE -->

        <div class="card sm-card">
            <p class="mt-36 mb">
                Add to their favorite books:
            </p>
        
        
        
            <!-- ? FORM DROPDOWN START -->
            
            <!-- Form's hidden input allows controller method to pass needed ids thru 'favorites' controller using request.form OR you can use a route variable for this. if going the request.form way, watch variables in name in tag, must appear in controller like request.for['author'] -->

            <form action="/author/add/favorite" method="post">
                <input type="hidden" name="author" value="{{ this_author.id }}">
                <label for="title"></label>
                <select name="book">
                    {% for book in all_books %}
                        <option value="{{ book.id }}" class="title">
                            "{{ book.title }}"
                        </option>
                    {% endfor %}
                </select>
                
                <div class="flx col gap-3 mt vert-cent">
                <button type="submit" class="btn w-100 mt mb">Add this book to their favorites</button>
                </div>
            </form>
        <!-- ? FORM END -->

        </div>
    </main>
    <!-- ? MAIN END -->



    <!-- ? FOOTER START -->

    <footer>
        <div class="flx col vert-cent gap-2">
        <span>
            <a href="/">Home</a>
        </span>
        </div>
    </footer>
    <!-- ? FOOTER END -->

</body>
</html>