<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;500;600;700;800&display=swap');
    </style>
</head>
<body>

    <!-- ? HEADER START -->

    <header class="flx container gap-3">
        <h1 class="mb ml">Book Archive</h1>
        <img src="./static/resources/images/3563210.png" alt="small, vector graphic of books on a shelf" id="bookshelf-img">
    </header>
    <!-- ? HEADER END -->



    <!-- ? MAIN START -->

    <main class="flx gap-3">
        <div class="card sm-card row">
        <h2 class="mb mt">{#{{ this_author.name }}#}</h2>
        <img src="./static/resources/images/3563199.png" alt="" id="book-img" class="mb">



        <!-- ? TABLE OF AUTHOR FAVES START -->

        <table class="font-mono">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Number of Pages</th>
            </tr>
            </thead>
            <tbody>
            {#{% for book in this_author.favorite_books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td class="title">{{ book.title }}</td>
                    <td>{{ book.pages }}</td>
                </tr>
            {% endfor %}#}
            </tbody>
        </table>
        <!-- ? TABLE END -->
        
        </div>
        <div class="card sm-card">
        <h2 class="mb mt">Add Author's Favorite</h2>
        


        <!-- ? FORM DROPDOWN START -->

        <form action="" method="post">
            <label for="title">Book</label>
            <select name="book" id="">
                {#{% for book in this_author.favorite_books %}
                    <option value="{{}}">
                        {{ book.title }}
                    </option>
                {% endfor %}#}
            </select>
            <button type="submit">Add this book to favorites/ heart</button>
        </form>
        <!-- ? FORM END -->

        </div>
    </main>
    <!-- ? MAIN END -->



    <!-- ? FOOTER START -->

    <footer>
        <div class="flx col vert-cent gap-2">
        <span>
            <a href="/">Home</a>
        </span>
        </div>
    </footer>
    <!-- ? FOOTER END -->

</body>
</html>