/*******************************************/
/*! RESETS
/*******************************************/

/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	/* vertical-align: baseline; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/* line-height: 1; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******************************************/
/*! RESPONSIVE FONT SIZING
/*******************************************/

html {
  font-size: 62.5%;
}
body {
  font-size: 2rem;
}
h3 {
  font-size: 2.5rem;
}
h2 {
  font-size: 3rem;
}
h1 {
  font-size: 3.5rem;
  letter-spacing: .18rem;
}
.f-small {
  font-size: 1.36rem;
}

/*******************************************/
/*! MY FONTS
/*******************************************/

body {
  font-family: 'Ysabeau SC', sans-serif;
  font-weight: 700;
}

.font-mono {
  font-family: monospace;
}

/*******************************************/
/*! MY LAYOUTS
/*******************************************/
body {
  /* background-color: yellow; */
  /* font-family: 'Be Vietnam Pro', sans-serif; */
  color: azure;
}

main {
  margin: 0px auto;
  justify-content: center;
  /* padding: 15px; */
  /* height: 800px; */
  /* background-color: rgb(255, 0, 0); */
}

.container {
  width: 975px;
  justify-content: flex-start;
}

.flx {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-4 {
  gap: 4rem;
}

.mt {
  margin-top: 20px;
}

.mt-36 {
  margin-top: 58px;
}

.mb {
  margin-bottom: 36px;
}

.mr {
  margin-right: 5px;
}

.ml {
  margin-left: 5px;
}

.vert-cent {
  align-items: center;
  /* vertical-align: middle; */
}

.w-100 {
  width: 100%;
}

.hidden {
  visibility: collapse;
  font-size: 1px;
  margin: 0;
  padding: 0;
}

.img {

}

.bookshelf-img {
  width: 80px;
  height: 50px;

}

.book-img {
  width: 145px;
  height: 105px;
}

.book-img-sm {
  width: 60px;
  height: 40px;
}

.author-img {
  width: 125px;
  height: 145px;
}

.author-img-sm {
  width: 54px;
  height: 60px;
}

/*******************************************/
/*! MY CARDS
/*******************************************/

.card {
  background-color: cornsilk;
  color: rgb(175, 66, 66);
  /* min-height: 600px;
  width: 500px; */
  padding: 30px;
  border-radius: 18px;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}

.sm-card {
  height: 500px;
  width: 400px;
}

.big-card {

}

/*******************************************/
/*! MY FORMS
/*******************************************/

form {
  width: 100%;
}

input, .input {
  font-family: monospace;
  width: 95%;
  height: 36px;
  margin: 10px 0;
  font-size: 18px;
  /* border: none; */
  /* border-bottom: 2px solid rgb(136, 0, 255); */
  border: 2px solid rgb(136, 0, 255);
  border-radius: 5px;
  padding-left: 10px;
}

:root {
  --arrow-bg: rgba(255, 255, 255, 0.3);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9a/Caret_down_font_awesome.svg);
  --option-bg: white;
  --select-bg: rgba(255, 255, 255, 0.2);
}

select {
  appearance: none;
  width: 100%;
  padding: 10px 10px 10px 20px;
  font-size: 2rem;
  color: rgb(104, 17, 107);
  color: black;
  height: 46px;
  border-radius: 5px;
  font-family: monospace;
  font-size: 18px;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em;
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
}

  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }

select:hover {
  background-color: rgb(255, 255, 255);
}

/*******************************************/
/*! MY TABLES
/*******************************************/

table {
  width: 100%;
  max-height: 400px;
}

table thead, tbody tr {
  /* border-bottom: 2px solid gray; */
}

table thead tr th {
  /* text-align: left; */
  /* font-size: 2rem; */
  /* padding-right: 23px; */
}

table tbody tr {
  color: brown;
}

table tbody tr:hover {
  background-color: black;
}

table tr td {
  /* padding: 0px;
  margin: 0px; */
}

table {
  /* height: inherit; */
  display: block;
  overflow-y: scroll;

}
.title {
  font-style: italic;
  text-align: justify;
}
/*******************************************/
/*! MY BUTTONS
/*******************************************/

.btn {
  background-color: rgb(189, 223, 252);
  color: black;
  height: 36px;
  box-shadow: 6px 6px rgb(69, 69, 69);
  border-radius: 5px;
  font-family: monospace;
  font-size: 18px;
}

.btn:hover {
  background-color: rgb(213, 234, 252);
}

.btn:active {
  transform: scale(.936);
  box-shadow: 3px 3px black;
}

.bubble-shadow {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.shallow-key-shadow {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/*******************************************/
/*! MY LINKS
/*******************************************/

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(132, 255, 128);
}

/*******************************************/
/*! MY HEADER
/*******************************************/

header, header a {
  margin: 30px auto;
  padding: 15px;
  width: inherit;
  color: brown;
  align-items: baseline;
}

header a:hover {
  color: blue;
}

/*******************************************/
/*! MY FOOTER
/*******************************************/

footer, footer a {
  margin: 0 auto;
  padding: 15px;
  color: brown;
  align-items: center;
}

footer a:hover {
  color: blue;
}